name: Go Backend Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - dev
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.x"
      - name: Install dependencies
        run: go get .
        working-directory: backend
      - name: Build
        run: go build -v ./...
        working-directory: backend
      - name: Test with the Go CLI
        run: go test
        working-directory: backend
