name: frontend-tests-and-coverage

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
      - "dev"

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: npm ci
        working-directory: frontend

      - name: Run jest with coverage
        run: npm run coverage
        working-directory: frontend

      - name: Save coverage Artifact for the Workflow
        if: >
          github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: jest-coverage
          path: frontend/coverage
